/* Variables */
$primaryColor: grey;
$secondaryColor: #eeeeee;

/* Globals */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Medias */
@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}

.medium {
  display: none;
  @include atMedium {
    display: block;
  }
}

.small {
  @include atMedium {
    display: none;
  }
}

/* General */
.h-bar {
  border: 1px solid black;

  &--mt {
    margin-top: 10px;
  }
}

.wrapper {
  &__data {
    @include atMedium {
      padding: 20px 20px;
    }
  }
  &__pie {
    @include atMedium {
      padding: 0 20px;
    }
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  top: -15px;
  left: 130%;
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  @include atMedium {
    left: -590%;
  }
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;

  @include atMedium {
    left: 100%; /* To the right of the tooltip */
    border-color: transparent transparent transparent black;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Forms */
.form {
  &__section-label {
    padding-bottom: 10px;
  }

  &__separator {
    border-bottom: 2px solid black;
    padding-top: 10px;
    &--dashed {
      padding-top: 0;
      border-bottom: 2px dashed black;
    }
  }

  &__field {
    padding-bottom: 10px;
  }

  &__label {
    &--bold {
      font-weight: bold;
    }
  }

  &__input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: lightgrey;
  }

  &__textarea {
    resize: none;
  }

  &__opt {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: lightgrey;
  }

  &__short {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: lightgrey;
  }

  &__flex {
    display: flex;

    &--justify {
      justify-content: space-between;
    }
  }

  &__btn {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    @include atMedium {
      width: inherit;
      font-size: 1rem;
    }
  }

  &__padding {
    padding: 0 5px;
  }

  &__applicant {
  }

  &__icon {
    font-size: 1.5rem;
  }
}

/* Buttons */
.btn {
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: none;
  text-align: center;

  &-grey {
    background: grey;
  }
}
/* 1 - Root */
#root {
  height: 100%;
  width: 100%;
}

/* 2 - Page Container */
.page-container {
  height: 100%;
  width: 100%;
}

.content {
  border-top: 1px solid white;
  height: 100%;
  padding-top: 50px;

  &--pw {
    padding: 0 20px;
  }
  //padding: 50px 20px;
}

/* 3 - Sections */
/*=== Section - Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  background: grey;
  display: grid;
  grid-template-columns: 20% auto 20%;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid white;
  a {
    color: white;
  }
  &__sw {
    width: 25px;
    height: 21px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1;
    grid-row: 1;

    @include atMedium {
      display: none;
    }

    &-hidden {
      display: none;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      &--is-visible {
        display: grid;
      }
    }

    &-top {
      grid-column: 1;
      grid-row: 1;
      height: 3px;
      width: 100%;
      background: white;
    }

    &-mid {
      grid-column: 1;
      grid-row: 2;
      height: 3px;
      width: 100%;
      background: white;
      align-self: center;
    }

    &-bot {
      grid-column: 1;
      grid-row: 3;
      height: 3px;
      width: 100%;
      background: white;
      align-self: end;
    }

    &-shown {
      display: none;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;

      &--is-visible {
        display: grid;
      }
    }

    &-c1 {
      grid-column: 1;
      grid-row: 2;
      height: 3px;
      width: 100%;
      background: white;
      align-self: center;
      transform: rotate(45deg);
    }

    &-c2 {
      grid-column: 1;
      grid-row: 2;
      height: 3px;
      width: 100%;
      background: white;
      align-self: center;
      transform: rotate(-45deg);
    }
  }

  &__logo {
    justify-self: center;
    font-size: 1.2rem;
    @include atMedium {
      grid-column: 1;
      justify-self: left;
    }
  }

  &__sign {
    display: flex;
    justify-self: right;
    color: white;

    @include atMedium {
      //display: none;
    }
  }
}

/*=== Section - Navlinks */
.navlinks {
  &__general {
    padding-bottom: 20px;
    @include atMedium {
      padding-bottom: 0;
    }
  }

  &__user {
    padding-top: 20px;
    @include atMedium {
      padding: 0;
    }
  }

  &__separator {
    border-top: 1px solid white;
    @include atMedium {
      display: none;
    }
  }
  @include atMedium {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    ul {
      display: flex;
    }

    li {
      padding: 0 10px;
    }
  }
}
/*=== Section - Mobile Menu */
.mobile-menu {
  width: 100%;
  height: 100%;
  background: grey;
  display: none;
  padding: 70px 20px 0 20px;
  position: absolute;
  top: 0;

  &--is-visible {
    display: block;
  }

  li {
    padding: 10px 0;
  }

  @include atMedium {
    display: none;
    z-index: 0;
  }
}

/*=== Section - Register/Login */
.auth {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: grey;
  padding: 50px 25px;
  z-index: 1;

  &__logo {
    font-size: 1.5rem;
  }

  &__footer {
    padding-top: 20px;
    text-align: center;
  }

  @include atMedium {
    padding: 100px 35%;
  }
}

/*=== Section - Application */
.application {
  padding: 20px;
  @include atMedium {
    padding: 50px 30%;
  }
}

/*=== Section - Dashboard */
.dashboard {
  padding: 20px;

  &__create {
    text-align: center;
    h1 {
      padding-bottom: 20px;
    }
  }
  &__title {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__btn {
    padding-bottom: 10px;
  }
  @include atMedium {
    padding: 20px 30%;
  }
}

.card {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border: none;
  background: lightgray;

  &__title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__weeks {
    font-size: 1.5rem;
    justify-self: center;
    text-align: center;
  }

  &__info {
    justify-self: center;
  }

  &__number {
    font-size: 3rem;
    text-align: center;
  }

  &__subtitle {
    font-weight: bold;
  }

  &__pb {
    padding-bottom: 10px;
  }
}

.applicant {
  padding: 10px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  &__line {
    padding-bottom: 5px;
  }
}

/*=== Section - Landing */
.landing {
  padding: 20px 0;
}

.pies {
  @include atMedium {
    display: flex;
    justify-content: center;
  }
}

.pie {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 20px 0;

  &__chart {
    padding-right: 20px;
    grid-column: 1;
    grid-row: 1;
  }

  &__label {
    font-size: 2.5rem;
    grid-column: 1;
    grid-row: 1;
    padding-bottom: 20px;
    padding-right: 110px;
  }

  &__sublabel {
    padding-top: 50px;
    grid-column: 1;
    grid-row: 1;
    padding-right: 110px;
  }

  @include atMedium {
    border: 1px solid $secondaryColor;
    box-shadow: 1px 1px 5px $secondaryColor;
    border-radius: 20px;
  }
}

.bars {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 100px 1fr 1fr;
}

.bar {
  &__title {
    font-weight: bold;
    padding: 20px 0;
  }
  &__1 {
    grid-column: 1 / span 2;
  }

  &__2 {
    grid-column: 4 / span 2;
  }
}

/*=== Section - Data */
.data-display {
  @include atMedium {
    display: flex;
    justify-content: center;
  }
}
.data {
  padding: 20px 0;
  text-align: center;

  &__title {
    padding-bottom: 20px;
    font-weight: bold;
    @include atMedium {
      padding-bottom: 30px;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 0 20px;
    @include atMedium {
      padding: 0px 50px;
    }
  }

  &__subtitle {
    padding: 0px 0;
  }

  @include atMedium {
    padding: 30px 0;
    border: 1px solid $secondaryColor;
    box-shadow: 1px 1px 5px $secondaryColor;
    border-radius: 20px;
  }
}

/*=== Section - Database */
.database {
  padding: 30px;
  &__table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;

      :last-child {
        border-right: 0;
      }
    }
  }
}

.db-filter {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: lightgrey;
}
